.App {
    text-align: center;
}

.input {
    border-width: 1;
}

.image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 17em;
    margin: 1em;
    margin-bottom: 1em;
}

.results {
    display: flex;
    justify-content: space-evenly;
}

